---
import Debug from "astro/components/Debug.astro";
import Navigation from "../../komponenter/Navigation.astro";
import Footer from "../../komponenter/Footer.astro";

export async function getStaticPaths() {
  const url = "https://yetmrunotjrgzgmcchxy.supabase.co/rest/v1/restaurants";

  // "https://yetmrunotjrgzgmcchxy.supabase.co/rest/v1/restaurants?apikey=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlldG1ydW5vdGpyZ3pnbWNjaHh5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3MjE2MjksImV4cCI6MTk5NDI5NzYyOX0.3nyW3iCZSlvah2mVwALnccNLM39VwIq4g5xXUpR9L5g"

  const options = {
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlldG1ydW5vdGpyZ3pnbWNjaHh5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3MjE2MjksImV4cCI6MTk5NDI5NzYyOX0.3nyW3iCZSlvah2mVwALnccNLM39VwIq4g5xXUpR9L5g",
    },
  };

  const response = await fetch(url, options);
  const data = await response.json();

  return data.map((restaurant) => ({
    params: { id: restaurant.id },
    props: { restaurant },
  }));
}

const { restaurant } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href=".styles/main.css" />
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora&family=Merriweather&family=Nunito+Sans:wght@200;400&family=Oswald&family=Prosto+One&family=Quicksand:wght@300&family=Roboto+Condensed&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora&family=Merriweather&family=Noto+Sans+Javanese:wght@400;500&family=Nunito+Sans:wght@200;400&family=Oswald&family=Prosto+One&family=Quicksand:wght@300&family=Roboto+Condensed&display=swap"
      rel="stylesheet"
    />
    <title>Program</title>
  </head>
  <body>
    <Navigation />

    <h1>{restaurant.name}</h1>
    <center>
      <main>
        <img class="billede" src={`/Billeder/${restaurant.image}`} alt="" />
        <div id="popup1" class="overlay">
          <div class="popup">
            <img src={restaurant.image} alt="" />
            <p class="p_pop">{restaurant.description} <span class="span_pop"> - </span>{restaurant.venue}</p>

            <div class="time">
              <p class="time_pop">{restaurant.time} <span class="span_pop"> -</span> {restaurant.time_stop}</p>
            </div>
            <p>{restaurant.about}</p>
          </div>
        </div>
      </main>
    </center>

    <p></p>

    <Footer />
  </body>
</html>

<style>

  .billede {
    width: 120%;
    display: block;
  }
  .h3 {
    font-size: 40px;
  }
  .time {
    display: flex;
  }

  .hjerte {
    width: 8%;
    height: 8%;
    position: absolute;
    top: 90%;
    left: 90%;
  }

  /* .flex_link {
  display: flex;
  flex-direction: row;
 
  
} */
  .span_time {
    color: black;
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
  }
  .span_pop {
    color: rgb(6, 6, 6);
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
    justify-content: center;
  }
  .time_pop {
    font-family: "Quicksand", sans-serif;
    color: black;
    font-size: 20px;
  }

  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: justify;
    padding-left: 3%;
    background-color: #eae1e1;
    width: 80%;
    padding-top: 30px;
    padding-bottom: 60px;
  }

  body {
    margin: auto;
  }

  h1 {
    text-align: center;
    font-size: 80px;
    font-family: "Quicksand", sans-serif;
    color: #156b4c;
  }
</style>
