---
const { name, link, description, venue, time, time_stop } = Astro.props;
import "../styles/main.css";
import Slug from "../pages/[slug].astro";
---

<a href="link">
  <article class="grid_article">
    <div class="flex_link">
      <div class="flex1">
        <div id="box">
          <a class="button" href={link}> <h2>{name}</h2></a>
        </div>

        <div id="popup1" class="overlay">
          <div class="popup">
            <h3 class="h3_pop">{name}</h3>
            <img src="billeder/karate.webp" alt="" />
            <p class="p_pop">{description} <span class="span_pop">-</span> Main Stage</p>

            <div class="time">
              <p class="time_pop">{time}</p>
              <span class="span_pop"> -</span>
              <p class="time_pop">{time_stop}</p>
            </div>

            <img class="hjerte" src="billeder/heart.webp" alt="" />

            <a class="close" href="#">&times;</a>
          </div>
        </div>
      </div>

      <button class="button_time">
        <div class="time1">
          <div class="time">
            <p>{time}</p>
            <span class="span_time"> -</span>
            <p>{time_stop}</p>
          </div>
        </div>
      </button>
    </div>
  </article>
</a>

<script></script>

<style>
  .grid_article {
    display: grid;
  }
  a {
    text-decoration: none;
  }

  p {
    color: black;
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
  }

  h2 {
    color: black;
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
    text-align: left;
  }

  .flex_link {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-right: 50px;
    /* justify-content: space-between; */
  }

  .time {
    display: flex;
  }

  .hjerte {
    width: 8%;
    height: 8%;
    position: absolute;
    top: 90%;
    left: 90%;
  }

  /* .flex_link {
    display: flex;
    flex-direction: row;
   
    
  } */
  .span_time {
    color: black;
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
  }
  .span_pop {
    color: white;
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
  }

  button {
    border: none;
    background-color: #eae1e1;
    margin-left: auto;
  }

  button h2 {
    color: #a14343;
  }

  h2:hover {
    color: #d3726b;
  }

  .button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }

  #box {
    display: flex;
    justify-content: flex-start;
  }
  .button:hover {
    background: #156b4c;
    border-radius: 5%;
  }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }

  .popup {
    margin: 70px auto;
    margin-top: 15%;
    padding: 20px;
    background: #d3726b;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    display: flex;
    flex-direction: column;
  }

  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: "Quicksand", sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 5px;
    right: 15px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #ffdddd;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }

  .h3_pop {
    font-family: "Quicksand", sans-serif;
    color: white;
    font-size: 25px;
    padding-bottom: 10px;
  }

  .p_pop {
    font-family: "Quicksand", sans-serif;
    color: white;
    font-size: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .time_pop {
    font-family: "Quicksand", sans-serif;
    color: white;
    font-size: 15px;
  }

  .button_time {
  }

  @media screen and (max-width: 700px) {
    .box {
      width: 70%;
    }
    .popup {
      width: 70%;
    }
  }
</style>
