---
import { Debug } from "astro/components";
import "../styles/main.css";
// import ProgramListe from "../komponenter/Program_liste.astro";
import Navigation from "../komponenter/Navigation.astro";
import Footer from "../komponenter/Footer.astro";
import ProgramListe from "../komponenter/program_liste.astro";

const url = "https://yetmrunotjrgzgmcchxy.supabase.co/rest/v1/restaurants";

// "https://yetmrunotjrgzgmcchxy.supabase.co/rest/v1/restaurants?apikey=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlldG1ydW5vdGpyZ3pnbWNjaHh5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3MjE2MjksImV4cCI6MTk5NDI5NzYyOX0.3nyW3iCZSlvah2mVwALnccNLM39VwIq4g5xXUpR9L5g"

const options = {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlldG1ydW5vdGpyZ3pnbWNjaHh5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3MjE2MjksImV4cCI6MTk5NDI5NzYyOX0.3nyW3iCZSlvah2mVwALnccNLM39VwIq4g5xXUpR9L5g",
  },
};

const response = await fetch(url, options);
const data = await response.json();

const MainStage = data.filter((event) => event.venue === "MainStage");
const SecondStage = data.filter((event) => event.venue === "SecondStage");
const On_the_lawn = data.filter((event) => event.venue === "On_the_lawn");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="styles/main.css" />
    <title>Forside</title>
  </head>
  <body>
    <Navigation />
    <h1 class="h1_dato">Saturday 22.04.2023</h1>
    <h2 class="h2_dato">The program for this day</h2>
    <center>
      <main class="main_program1">
        <section>
          <h2 class="venue">Main Stage</h2>
          <hr class="hr1" />
          {
            MainStage.map((restaurant) => (
              <ProgramListe link={`/komponenter/${restaurant.id}`} image={`/thumbs/${restaurant.image}`} name={restaurant.name} description={restaurant.description} time={restaurant.time} time_stop={restaurant.time_stop} />
            ))
          }
        </section>
        <section>
          <h2 class="venue">Second Stage</h2>
          <hr class="hr1" />
          {SecondStage.map((restaurant) => <ProgramListe link={`/komponenter/${restaurant.id}`} name={restaurant.name} description={restaurant.description} time={restaurant.time} time_stop={restaurant.time_stop} />)}
        </section>
        <section>
          <h2 class="venue">On the Lawn</h2>
          <hr class="hr1" />
          {
            On_the_lawn.map((restaurant) => (
              <ProgramListe link={`/komponenter/${restaurant.id}`} image={`/thumbs/${restaurant.image}`} name={restaurant.name} description={restaurant.description} time={restaurant.time} time_stop={restaurant.time_stop} />
            ))
          }
        </section>
        <section>
          <img class="logo" src="Billeder/logo.webp" alt="" />
        </section>
      </main>
    </center>
  </body>
  <Footer>
    <style>
      .logo {
        width: 130px;
        height: 130px;
        position: absolute;
        top: 135%;
        left: 1100px;
      }
      main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: justify;
        padding-left: 3%;
        background-color: #eae1e1;
        width: 80%;
        padding-top: 30px;
        padding-bottom: 60px;
      }
      .hr1 {
        margin-left: 8%;
        margin-right: 25%;
        margin-bottom: 10%;
        margin-top: 2%;

        border: 0;
        border-top: 1px solid var(--text-pink);
      }

      .h1_dato {
        text-align: center;
        font-family: "Quicksand", sans-serif;
        color: #156b4c;
        font-size: 50px;
        padding-top: 30px;
        padding-bottom: 30px;
      }

      .h2_dato {
        text-align: center;
        font-family: "Quicksand", sans-serif;
        padding-bottom: 50px;
      }

      .venue {
        color: var(--text-pink);
        font-size: 25px;
        text-align: center;
        padding-right: 60px;
      }

      .venue {
        color: var(--text-pink);
        font-size: 25px;
        text-align: center;
        padding-right: 60px;
        font-family: "Quicksand", sans-serif;
      }

      .main_program1 {
      }

      @media (max-width: 600px) {
        main {
          display: grid;
          grid-template-columns: 1fr;
          text-align: justify;
          padding-left: 3%;
          background-color: #eae1e1;
          width: 80%;
          padding-top: 30px;
          padding-bottom: 60px;
        }
      }
    </style>
    .main_program1 {}
  </Footer>
</html>
